<section class="flex items-center justify-center w-full h-full animate-fade-up max-w-[1100px] mx-auto">
    <div class="flex flex-col flex-1 gap-6">
        <span class="font-semibold text-lg">Step 2</span>
        <strong class="font-mayennesans text-4xl">Make your property stand out</strong>
        <p class="text-lg">
            In this step, you will add some of the services that your property offers and you will upload a minimum
            of 5 photos. Then you will create a title and description.
        </p>
    </div>
    <div class="flex flex-1 justify-center items-center">
        <img class="w-[400px] drop-shadow-[0px_10px_9px_rgba(0,0,0,0.3)]" src="assets/images/house_low_poly_2.png"
            alt="low_poly_home_step_2" height="300" width="400">
    </div>
</section>