<section class="flex items-center justify-center w-full h-full animate-fade-up">
    <div class="flex flex-col flex-1 gap-8 max-w-[630px]">
        <strong class="text-3xl font-semibold">
            Tell guests everything your space has to offer
        </strong>
        <span class="text-neutral-500 text-lg">
            You can add more services after publishing it.
        </span>
        <app-checkbox-group [formGroupRef]="form" checkboxElementName="amenity"></app-checkbox-group>
    </div>
</section>