<section class="flex items-center justify-center w-full h-full animate-fade-up max-w-[1100px] mx-auto">
    <div class="flex flex-col flex-1 gap-6">
        <span class="font-semibold text-lg">Step 1</span>
        <strong class="font-mayennesans text-4xl">Describe your home</strong>
        <p class="text-lg">
            In this step, we'll ask you to provide details about the type of house you're selling. Please let us know
            the location below and any preferences regarding the number of bedrooms and bathrooms.
        </p>
    </div>
    <div class="flex flex-1 justify-center items-center">
        <img class="w-[400px] drop-shadow-[0px_10px_9px_rgba(0,0,0,0.3)]" src="assets/images/house_low_poly.png" alt="low_poly_home" height="300"
            width="400">
    </div>
</section>