<div class="border-[1px] cursor-pointer hover:shadow-md md:w-auto py-2 rounded-full shadow-sm transition w-full
">
    <div class="flex flex-row items-center justify-between pr-2">
        <div class="text-sm font-semibold px-6">
            Search <span class="max-sm:hidden">property by</span> location
        </div>
        <div class="
            flex
            items-center
            justify-center
            text-center
            bg-red-700
            p-2
            rounded-full
            text-white
            h-[34px]
            w-[34px]
        ">
            <i class="fa-solid fa-magnifying-glass text-sm"></i>
        </div>
    </div>
</div>