<div class="border-[1px] cursor-pointer hover:shadow-md md:w-auto py-2 rounded-full shadow-sm transition w-full
">
    <div class="flex flex-row items-center justify-between pr-2">
        <form [formGroup]="form" class="w-full">
            <input class="
                rounded-full
                bg-transparent
                disabled:cursor-not-allowed 
                disabled:opacity-70 
                text-sm 
                font-medium 
                px-3
                mx-3
                outline-none 
                transition 
                w-full
                flex-1
                h-[34px]
                " formControlName="searchParam" id="searchParam" placeholder="Search property by location" type="text"
                autocomplete="" />
        </form>
        <div class="
            flex
            items-center
            justify-center
            text-center
            bg-red-700
            p-2
            rounded-full
            text-white
            h-[34px]
            min-w-[34px]
        ">
            <i class="fa-solid fa-magnifying-glass text-sm"></i>
        </div>
    </div>
</div>