<div #navbar class="w-full z-50 transition-all duration-200"
    [ngClass]="{'bg-white shadow-sm': isValidPage, 'fixed' : isMainPage || !isValidPage}">
    <div class="border-b-[1px] border-transparent" [ngClass]="{'border-b-brown-100': isValidPage}">
        <app-container [expandHeight]="true"
            [maxWidth]="isMainPage || !isValidPage ? 'xl:px-20 md:px-10' : 'xl:px-40 md:px-20'">
            <div class="h-20 flex flex-row items-center justify-between gap-3 md:gap-0">
                <div class="group flex gap-2 items-center cursor-pointer" routerLink="/">
                    <app-logo></app-logo>
                    <span class="font-mayennesans text-xl text-brown-900 group-hover:text-brown-700 transition-all">Real
                        State</span>
                </div>
                <app-search *ngIf="isValidPage"></app-search>
                <app-user-menu *ngIf="isValidPage" [currentUser]="currentUser"></app-user-menu>
            </div>
        </app-container>
    </div>
    <app-categories [isMainPage]="isMainPage" [isScrolling]="isScrolling"></app-categories>
</div>