<mgl-map class="h-full w-full" [style]="style" [zoom]="zoom" [center]="center" [attributionControl]="false"
    [minZoom]="1">

    <mgl-control mglGeolocate></mgl-control>
    <mgl-control mglNavigation [showCompass]="false"></mgl-control>

    <mgl-marker #myMarker [lngLat]="[-74.5, 40]">
        <div (click)="null" class="marker">
            <button class="w-8 h-8 rounded-full bg-rose-600"></button>
        </div>
    </mgl-marker>

    <mgl-popup [marker]="myMarker" [closeButton]="true" (closeOnClick)="false" [closeOnMove]="false"
        [focusAfterOpen]="false">
        <app-listing-card [data]="listing"></app-listing-card>
    </mgl-popup>

</mgl-map>

<!-- Use this event to load new listings wehen map zooms ends -->
<!-- boxZoomEnd: MapBoxZoomEvent -->

<!-- Use this to overlay a custom image in the map -->
<!-- <mgl-image id="image" url="https://..." (loaded)="imageLoaded = true">
        ...
        <mgl-image id="image2" [data]="{
       width: 64,
       height: 64,
       data: imageData
     }"> -->



<!-- Marker Options -->
<!-- offset: PointLike
anchor: 'center' | 'top' | 'bottom' | 'left' | 'right' | 'top-left' | 'top-right' | 'bottom-left' | 'bottom-right'
pitchAlignment: map | viewport | auto
rotationAlignment: map | viewport | auto
Dynamic:

lngLat: LngLatLike
draggable: boolean
[ngx] feature: GeoJSON.Feature<GeoJSON.Point> Mutually exclusive with lngLat
[ngx] className string Class name to aply to the container
[ngx] popupShown: boolean Shows if the marker's popup is visible at the moment

Outputs
markerDragStart: Marker
markerDrag: Marker
markerDragEnd: marker -->