<section class="flex items-center justify-center w-full h-full animate-fade-up max-w-[1100px] mx-auto">
    <div class="flex flex-col flex-1 gap-6">
        <span class="font-semibold text-lg">Step 3</span>
        <strong class="font-mayennesans text-4xl">Finish and post</strong>
        <p class="text-lg">
            Lastly, you'll have the option to connect with experienced buyers who have been active on the platform. Set
            your desired selling price and answer a few questions to finalize your listing.
        </p>
    </div>
    <div class="flex flex-1 justify-center items-center">
        <img class="w-[400px] drop-shadow-[0px_10px_9px_rgba(0,0,0,0.3)]" src="assets/images/house_low_poly_3.png"
            alt="low_poly_home_step_3" height="300" width="400">
    </div>
</section>