<app-modal
  actionLabel="Continue"
  [disabled]="disabled"
  [isOpen]="isOpen"
  [onClose]="handleClose"
  [onSubmit]="handleSubmit"
  title="Login"
  [body]="body"
></app-modal>

<ng-template #body>
  <div className="flex flex-col gap-4">
    <!-- <Heading title="Welcome back" subtitle="Login to your account!" /> -->
    <app-input
      id="email"
      label="Email"
      [disabled]="isLoading"
      [errors]="errors"
      [required]="true"
    >
    </app-input>
    <app-input
      id="password"
      label="Password"
      type="password"
      [disabled]="isLoading"
      [errors]="errors"
      [required]="true"
    ></app-input>
  </div>
</ng-template>
