<ng-template #body>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <app-heading
      title="Welcome back"
      subtitle="Login to your account!"
    ></app-heading>
    <app-input
      [formGroupRef]="form"
      formControlName="name"
      ngDefaultControl
      id="name"
      label="Name"
      [errors]="errors"
    ></app-input>
    <app-input
      [formGroupRef]="form"
      formControlName="email"
      ngDefaultControl
      id="email"
      label="Email"
      [errors]="errors"
      [required]="true"
    >
    </app-input>
    <app-input
      [formGroupRef]="form"
      formControlName="password"
      ngDefaultControl
      id="password"
      label="Password"
      type="password"
      [errors]="errors"
      [required]="true"
    ></app-input>
  </form>
</ng-template>

<ng-template #footer>
  <div class="flex flex-col gap-4 mt-3">
    <hr />
    <app-button
      [outline]="true"
      label="Continue with Google"
      icon="fab fa-google"
      (click)="signIn('google')"
    ></app-button>
    <app-button
      [outline]="true"
      label="Continue with Github"
      icon="fab fa-github"
      (click)="signIn('github')"
    ></app-button>
    <div class="text-neutral-500 text-center mt-4 font-light">
      <p>
        First time using <strong class="font-semibold">Real State</strong>?
        <span
          (click)="(onToggle)"
          class="text-neutral-800 cursor-pointer hover:underline"
        >
          Create an account</span
        >
      </p>
    </div>
  </div>
</ng-template>

<app-modal
  actionLabel="Continue"
  [disabled]="form.invalid"
  [onSubmit]="handleSubmit"
  title="Login"
  [body]="body"
  [footer]="footer"
  (getModalAction)="getModalAction($event)"
></app-modal>
