<div class="flex gap-2 font-semibold">
    <button class="flex gap-2 items-center rounded-lg transition hover:bg-brown-100 py-2 px-4 active:scale-95">
        <i class="far fa-share-square text-base"></i>
        <span class="underline tracking-wider">Share</span>
    </button>
    <button class="flex gap-2 items-center rounded-lg transition hover:bg-brown-100 py-2 px-4 active:scale-95">
        <i class="far fa-heart text-base"></i>
        <span class="underline tracking-wider">Save</span>
    </button>
</div>