<section id="listingServices" class="mb-36 mt-7 pt-5 border-t border-t-brown-100 w-full">
    <strong class="text-2xl text-brown-600 font-mayennesans">Amenities</strong>
    <div class="flex flex-wrap gap-4 w-full mt-7">
        <div *ngFor="let elem of amenities" class="flex gap-2 py-3 px-6 bg-white rounded-lg text-brown-600 font-medium">
            <svg class="h-7 w-7 fill-current" aria-hidden="true" focusable="false">
                <use [attr.href]="'../../../../assets/icons/'+elem+'.svg#'+elem"></use>
            </svg>
            <span class="capitalize">{{elem.replace("_", " ")}}</span>
        </div>
    </div>
</section>