<div (click)="handleClick" class="flex flex-col items-center justify-center gap-1 p-3 border-b-2
    hover:text-neutral-800 hover:border-b-brown-200 transition cursor-pointer" [ngClass]="{
    'border-b-brown-900 text-brown-900': selected,
    'border-transparent text-neutral-500': !selected}">
    <svg class="h-8 w-8 fill-current stroke-current" aria-hidden="true" focusable="false">
        <use [attr.href]="'../../../assets/icons/'+icon+'.svg#'+icon"></use>
    </svg>
    <div class="font-medium text-sm">{{label}}</div>
</div>