<section class="flex items-center justify-center w-full h-full animate-fade-up">
    <div class="flex flex-col flex-1 gap-8 max-w-[630px]">
        <strong class="text-3xl font-semibold">
            Where is your property located?
        </strong>
        <span class="text-neutral-500 text-lg">
            The exact address will be shared exclusively with potential buyers who have demonstrated a genuine interest
            in acquiring the property.
        </span>
        <div class="relative group flex flex-1 items-center w-full max-h-[312px]">
            <div class="flex flex-1 w-full absolute top-9 z-10">
                <app-search class="w-full" placeholder="Enter your property address" [isExpanded]="true"></app-search>
            </div>
            <div class="flex flex-1 items-center w-full h-full rounded-xl overflow-clip">
                <img class="
                w-full
                h-full
                group-hover:scale-105
                transition
                duration-200" src="assets/images/mapbox.png" alt="mapbox" height="300" width="400">
            </div>
        </div>
    </div>
</section>