<div class="flex justify-between h-10 rounded-lg relative bg-transparent w-28">
    <button data-action="decrement" class="  
        hover:bg-neutral-100
        border
        border-neutral-300
        hover:border-neutral-600
        transition
        duration-200
        active:scale-95
        flex
        flex-col
        items-center
        justify-center
        w-8
        h-8
        rounded-full
        text-neutral-500 
        hover:text-zinc-900" (click)="decrement()">
        <i class="fas fa-minus text-sm"></i>
    </button>
    <input #input type="number" [readOnly]="readOnly" class="
        text-center 
        font-medium 
        text-md 
        cursor-default 
        flex 
        items-center 
        w-7
        text-gray-700 
        outline-none
        [appearance:textfield] 
        [&::-webkit-outer-spin-button]:appearance-none 
        [&::-webkit-inner-spin-button]:appearance-none" name="custom-input-number" [min]="min" [value]="value">
    <button data-action="increment" class="
        group
        hover:bg-neutral-100
        border
        border-neutral-300
        hover:border-neutral-600
        transition
        duration-200
        active:scale-95
        flex
        items-center
        justify-center
        w-8
        h-8
        rounded-full
        text-neutral-500 
        hover:text-zinc-900" (click)="increment()">
        <i class="fas fa-plus text-sm"></i>
    </button>
</div>