<ng-container #emptyState *ngIf="!listings.length">
    <app-empty-state [showReset]="true"></app-empty-state>
</ng-container>

<app-container *ngIf="listings.length">
    <div class="
        gap-6
        grid 
        grid-cols-4
        pt-52
        max-[1128px]:grid-cols-3
        max-[950px]:grid-cols-2
        max-sm:grid-cols-1
        rounded
      ">
        <app-listing-card *ngFor="let listing of listings" [currentUser]="currentUser!" [data]="listing">
        </app-listing-card>
    </div>
</app-container>