<ng-container *ngIf="!listings.length && !isLoading">
  <app-empty-state></app-empty-state>
</ng-container>

<app-container>
  <div [ngClass]="{ hidden: isDrawerOpen }">
    <div
      class="gap-6 grid grid-cols-4 pt-52 max-[1128px]:grid-cols-3 max-[950px]:grid-cols-2 max-sm:grid-cols-1 rounded">
      <ng-container *ngIf="!isLoading">
        <app-listing-card *ngFor="let listing of listings" [data]="listing">
        </app-listing-card>
      </ng-container>

      <ng-container *ngIf="isLoading" [ngTemplateOutlet]="skeleton"></ng-container>
    </div>
  </div>

  <ng-container *ngIf="!isDrawerOpen" [ngTemplateOutlet]="toogleDrawerBtn" [ngTemplateOutletContext]="{
      $implicit: 'fas fa-map',
      label: 'See on the map'
    }"></ng-container>
  <ng-container *ngIf="isDrawerOpen" [ngTemplateOutlet]="toogleDrawerBtn"
    [ngTemplateOutletContext]="{ $implicit: 'fas fa-list', label: 'Show list' }"></ng-container>
</app-container>

<ng-template #skeleton>
  <ngx-skeleton-loader appearance="custom-content" *ngFor="let item of [].constructor(4); let i = index">
    <div class="flex flex-col gap-2 w-full">
      <div class="group aspect-square overflow-clip rounded-xl w-full mb-3 h-72 bg-black/10"></div>
      <div class="flex flex-col gap-2">
        <div class="flex h-5 w-9/12 rounded-[5px] bg-black/10"></div>
        <div class="flex h-5 w-2/4 rounded-[5px] bg-black/10"></div>
        <div class="flex h-5 w-5/12 rounded-[5px] bg-black/10"></div>
      </div>
    </div>
  </ngx-skeleton-loader>
</ng-template>

<app-mapbox [ngClass]="{ hidden: !isDrawerOpen }"
  class="relative pt-[calc(81.6px+80.8px)] w-full flex items-center h-screen" [listings]="listings"
  [isDrawerOpen]="isDrawerOpen"></app-mapbox>

<ng-template #toogleDrawerBtn let-icon let-label="label">
  <div class="flex w-full justify-center items-center fixed bottom-7 left-0 z-50 pointer-events-none">
    <button
      class="pointer-events-auto flex items-center gap-2 py-3 px-5 bg-slate-950 text-white transition-all duration-200 hover:scale-105 active:scale-95 rounded-full"
      (click)="toogleDrawer($event)">
      <span class="font-semibold text-sm">{{ label }}</span>
      <i [ngClass]="icon"></i>
    </button>
  </div>
</ng-template>