<ng-container #emptyState *ngIf="!listings.length">
    <app-empty-state [showReset]="true"></app-empty-state>
</ng-container>

<app-container *ngIf="listings.length">

    <ng-container *ngIf="!isDrawerOpen">
        <div class="
                gap-6
                grid 
                grid-cols-4
                pt-52
                max-[1128px]:grid-cols-3
                max-[950px]:grid-cols-2
                max-sm:grid-cols-1
                rounded
              ">
            <app-listing-card *ngFor="let listing of listings" [data]="listing">
            </app-listing-card>
        </div>
    </ng-container>

    <ng-container *ngIf="!isDrawerOpen" [ngTemplateOutlet]="toogleDrawerBtn"
        [ngTemplateOutletContext]="{$implicit: 'fas fa-map', label: 'See on the map'}"></ng-container>
    <ng-container *ngIf="isDrawerOpen" [ngTemplateOutlet]="toogleDrawerBtn"
        [ngTemplateOutletContext]="{$implicit: 'fas fa-list', label: 'Show list'}"></ng-container>

</app-container>

<app-mapbox *ngIf="isDrawerOpen" class="pt-[calc(81.6px+80.8px)] w-full flex h-screen"></app-mapbox>

<ng-template #toogleDrawerBtn let-icon let-label="label">
    <div class="flex w-full justify-center items-center fixed bottom-7 left-0 z-50 pointer-events-none">
        <button class="
            pointer-events-auto
            flex
            items-center
            gap-2 
            py-3 
            px-5
            bg-slate-950 
            text-white
            transition-all
            duration-200
            hover:scale-105
            active:scale-95
            rounded-full" (click)="toogleDrawer($event)">
            <span class="font-semibold text-sm">{{label}}</span>
            <i [ngClass]="icon"></i>
        </button>
    </div>
</ng-template>