<section class="flex flex-col justify-center items-center">
    <div class="mt-9">
        <app-logo logoSize="h-15 w-15"></app-logo>
    </div>
    <h1 class="font-bold font-mayennesans text-7xl mt-8">Page Not Found</h1>
    <p class="my-11 text-lg max-w-md text-center">The page you are looking for doesn't exist or has been moved.</p>
    <button class="
    bg-brown-500 
    text-white 
    px-8 
    py-4 
    rounded-lg 
    hover:bg-brown-400 
    transition-all 
    duration-300" routerLink="/">Go back home</button>
</section>