<div class="inline-flex justify-between items-center rounded-lg bg-transparent w-full gap-8">
    <div class="rounded-full"
        [ngClass]="{'cursor-not-allowed opacity-50': formGroupRef.get(controlName)?.value <= min}">
        <button class=" 
            bg-white 
            border
            border-neutral-300
            hover:border-neutral-700
            transition
            duration-200
            active:scale-95
            flex
            flex-col
            items-center
            justify-center
            rounded-full"
            [ngClass]="[buttonClasses, formGroupRef.get(controlName)?.value <= min ? 'pointer-events-none' : '']"
            (click)="decrement()">
            <i class="fas fa-minus text-sm text-neutral-500 hover:text-zinc-900"></i>
        </button>
    </div>
    <div class="flex flex-1 relative">
        <i class="
            fas 
            fa-dollar-sign 
            text-4xl 
            left-5 
            pt-[5px] 
            text-gray-700 
            absolute 
            inline-flex 
            items-center 
            h-full"></i>
        <input type="number" [readOnly]="readOnly" autocomplete="off" placeholder="$00"
            [formControl]="formGroupRef.get(controlName)! | formControlPipe" class="
            text-center 
            h-20 
            w-full
            rounded-xl
            pr-3
            pl-12
            text-5xl
            [appearance:textfield] 
            [&::-webkit-outer-spin-button]:appearance-none 
            [&::-webkit-inner-spin-button]:appearance-none" [ngClass]="[
            formGroupRef.get(controlName)?.hasError('min') || formGroupRef.get(controlName)?.hasError('max') 
                ? 'bg-rose-50/50 border-rose-500 outline-rose-500'
                : 'bg-white !text-gray-700 border-neutral-300 focus:border-black',
            readOnly ? '!border-none pointer-events-none outline-none' : 'border border-neutral-300 focus:border-2',
            inputClasses,
            ]">
    </div>
    <div class="rounded-full"
        [ngClass]="{'cursor-not-allowed opacity-50': formGroupRef.get(controlName)?.value >= max}">
        <button class="
        bg-white
        border
        border-neutral-300
        hover:border-neutral-700
        transition
        duration-200
        active:scale-95
        flex
        flex-col
        items-center
        justify-center
        rounded-full"
            [ngClass]="[buttonClasses, formGroupRef.get(controlName)?.value >= max ? 'pointer-events-none' : '']"
            (click)="increment()">
            <i class="fas fa-plus text-sm text-neutral-500 hover:text-zinc-900"></i>
        </button>
    </div>
</div>