<div class="relative">
    <div class="flex flex-row items-center gap-3">
        <div (click)="onRent" class="
          hidden
          md:block
          text-sm 
          font-semibold 
          py-3 
          px-4 
          rounded-full 
          hover:bg-neutral-100 
          transition 
          cursor-pointer
        ">
            Airbnb your home
        </div>
        <div>
            <div (click)="toggleOpen()" class="
                p-4
                md:py-1
                md:px-2
                border-[1px] 
                border-neutral-200 
                flex 
                flex-row 
                items-center 
                gap-3 
                rounded-full 
                cursor-pointer 
                hover:shadow-md 
                transition
                " [ngClass]="{'shadow-md ': isOpen}">
                <i class="fas fa-bars"></i>
                <div class="hidden md:block">
                    <app-avatar [src]="currentUser?.image"></app-avatar>
                </div>
            </div>
            <ng-template *ngIf="isOpen" [ngTemplateOutlet]="menu">
            </ng-template>
        </div>
    </div>
</div>

<ng-template #menu>
    <div class="
    absolute 
    rounded-xl 
    shadow-[0_0_8px_4px_rgba(0,0,0,0.07)]
    w-60
    bg-white 
    overflow-hidden 
    right-0 
    top-14
    text-sm
  ">
        <div class="flex flex-col cursor-pointer h-full py-2">
            <ng-container *ngIf="currentUser">
                <app-menu-item label="My trips" routerLink="/trips"></app-menu-item>
                <app-menu-item label="My favorites" routerLink="/favorites"></app-menu-item>
                <app-menu-item label="My reservations" routerLink="/reservations"></app-menu-item>
                <app-menu-item label="My properties" routerLink="/properties"></app-menu-item>
                <app-menu-item label="Airbnb your home" [onClick]="rentModal"></app-menu-item>
                <hr />
                <app-menu-item label="Logout" [onClick]="handleSignOut"></app-menu-item>
            </ng-container>

            <ng-container *ngIf="!currentUser">
                <app-menu-item label="Login" [onClick]="handleloginModal" [isBold]="true"
                    action="Login"></app-menu-item>
                <app-menu-item label="Sign up" [onClick]="handleloginModal" action="Register"></app-menu-item>
            </ng-container>

        </div>
    </div>
</ng-template>