<section class="flex items-center justify-center w-full h-full animate-fade-up">
    <div class="flex flex-col flex-1 gap-2 max-w-[630px]">
        <strong class="text-3xl font-semibold">
            Put a title to your house category property
        </strong>
        <span class="text-neutral-500 text-lg">
            Short titles work best. Don't worry, you can always change it later.
        </span>
        <div class="relative group flex flex-1 flex-col gap-2 items-start justify-center w-full mt-6">
            <app-textarea class="w-full text-xl" [formGroupRef]="form" formControlName="title" ngDefaultControl id="title"
                label="" [rows]="5"></app-textarea>
            <span class="font-semibold text-neutral-500 text-sm tracking-wider">{{form.value.title.length}}/32</span>
            <div *ngIf="form.controls['title'].hasError('maxlength')" class="flex flex-1 items-center gap-2 text-xs text-rose-700">
                <i class="fas fa-exclamation-circle text-base"></i>
                <span>The maximum number of characters allowed is 32.</span>
            </div>
        </div>
    </div>
</section>