<section class="
  bg-neutral-800/70 
  fixed 
  flex 
  focus:outline-none 
  inset-0 
  items-center 
  justify-center 
  outline-none 
  overflow-hidden
  transition-all
  z-[99999]" [ngClass]="{'opacity-0 pointer-events-none p-6': !showModal}" (click)="handleClose()">
  <div class=" 
            h-full 
            relative 
            w-full
          " [ngClass]="{'mx-auto xl:w-2/5 md:w-4/6 md:h-auto lg:w-3/6 lg:h-auto': !isExpanded}">
    <div class="duration-300 h-full translate" [ngClass]="
        showModal ? 'delay-200 opacity-100 translate-y-0' : 'opacity-0 translate-y-full'
      ">
      <div class="
              bg-white 
              border-0 
              flex 
              flex-col 
              focus:outline-none
              h-full
              lg:h-auto
              md:h-auto
              max-h-
              outline-none 
              relative 
              rounded-lg 
              shadow-lg 
              translate
              w-full 
              overflow-y-auto
              overflow-x-hidden
            " (click)="$event.stopPropagation()">
        <ng-container [ngTemplateOutlet]="content || null"></ng-container>
      </div>
    </div>
  </div>
</section>