<section class="
  fixed 
  flex 
  focus:outline-none 
  inset-0 
  items-center 
  justify-center 
  outline-none 
  overflow-hidden
  transition-all
  z-[99999]" [ngClass]="{
    'opacity-0 pointer-events-none p-6': !isOpen,
    'bg-neutral-800/70': !isExpanded,
    'bg-slate-950/95': isExpanded
  }" (click)="handleClose()">
  <div class=" 
            h-full 
            relative 
            w-full
          " [ngClass]="{
            'mx-auto xl:w-2/5 md:w-4/6 lg:w-3/6 md:max-h-[92vh]': !isExpanded,
            'md:!h-auto': autoSize
          }">
    <div class="duration-300 h-full translate flex" [ngClass]="
        showModal ? 'delay-200 opacity-100 translate-y-0' : 'opacity-0 translate-y-full'
      ">
      <div class="
              flex 
              flex-col 
              h-full
              outline-none 
              relative 
              translate
              w-full
            " (click)="$event.stopPropagation()" [ngClass]="{
          'bg-white overflow-hidden border-0 focus:outline-none lg:h-auto md:h-auto rounded-lg shadow-lg max-h-full': !isExpanded}
          ">
        <ng-container [ngTemplateOutlet]="content || null"></ng-container>
      </div>
    </div>
  </div>
</section>