<section class="
  bg-neutral-800/70 
  fixed 
  flex 
  focus:outline-none 
  inset-0 
  items-center 
  justify-center 
  outline-none 
  overflow-x-hidden 
  overflow-y-auto 
  z-50">
  <div class="
            h-full 
            lg:h-auto
            lg:w-3/6
            md:h-auto
            md:w-4/6
            mx-auto 
            my-6
            relative 
            w-full
            xl:w-2/5
          ">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
    <div class="duration-300 h-full translate" [ngClass]="
        showModal ? 'opacity-100 translate-y-0' : 'opacity-0 translate-y-full'
      ">
      <div class="
              bg-white 
              border-0 
              flex 
              flex-col 
              focus:outline-none
              h-full
              lg:h-auto
              md:h-auto
              outline-none 
              relative 
              rounded-lg 
              shadow-lg 
              translate
              w-full 
            ">
        <div class="
                    border-b-[1px]
                    flex 
                    items-center 
                    justify-center
                    p-6
                    relative
                    rounded-t
                ">
          <button class="
                    absolute
                    border-0 
                    hover:opacity-70
                    right-9
                    p-1
                    transition
                  " (click)="onClose()">
            <i class="fa fa-xmark fa-xl"></i>
          </button>
          <div class="font-semibold text-lg">{{ title }}</div>
        </div>

        <div class="flex-auto p-6 relative">
          <ng-container [ngTemplateOutlet]="body"></ng-container>
        </div>

        <div class="flex flex-col gap-2 p-6">
          <div class="
                    flex 
                    flex-row 
                    gap-4 
                    items-center 
                    w-full
                  ">
            <app-button *ngIf="secondaryAction && secondaryActionLabel" [disabled]="disabled"
              [label]="secondaryActionLabel" (click)="handleSecondaryAction" [outline]="true" class="w-full"></app-button>
            <app-button [disabled]="disabled" [label]="actionLabel!" [onClick]="handleSubmit" class="w-full"></app-button>
          </div>
          <ng-container [ngTemplateOutlet]="footer"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>