<div #navbar class="bg-white w-full z-[60] transition-all duration-200 fixed top-0 left-0">
    <app-container>
        <div class="border-b-[1px] border-transparent" [ngClass]="{ 'border-b-brown-100': isScrolling }">
            <div class="h-20 flex flex-row items-end justify-between gap-3 md:gap-0 pb-3">
                <button class="group flex gap-2 items-center transition duration-200 active:scale-95" routerLink="/">
                    <app-logo logoColor="text-black/80"></app-logo>
                </button>
                <ng-container [ngTemplateOutlet]="saveAction"></ng-container>
            </div>
        </div>
    </app-container>
</div>

<ng-template #saveAction>
    <button class="
        rounded-full 
        px-4 py-2 
        border 
        border-neutral-200 
        font-medium 
        hover:bg-neutral-100
        hover:border-neutral-700
        active:scale-95
        transition
        duration-200">
        Save and exit
    </button>
</ng-template>