<div #navbar class="bg-white shadow-sm w-full z-[60] transition-all duration-200 relative">
    <div class="border-b-[1px] border-transparent" [ngClass]="{ 'border-b-brown-100': isScrolling }">
        <div class="h-20 flex flex-row items-center justify-between gap-3 md:gap-0">
            <button class="group flex gap-2 items-center transition duration-200 active:scale-95" routerLink="/">
                <app-logo logoColor="text-black/80"></app-logo>
            </button>
        </div>
    </div>
</div>