<section class="
    w-full
    flex 
    flex-col 
    rounded-3xl 
    bg-white
    py-8
    border-[1px]
    shadow-md
    " [ngClass]="customClasses">
    <button *ngFor="let location of locations" class="w-full flex items-start gap-3 px-9 py-2 hover:bg-black/5"
        (click)="handleSelctedLocation(location)">
        <div class="flex items-center justify-center rounded-xl h-12 w-12 bg-black/10">
            <i class="fas fa-map-marker-alt text-xl"></i>
        </div>
        <span
            class="text-[17px] font-medium text-left flex items-center flex-1 h-full leading-tight">{{location.place_name}}</span>
    </button>
</section>