@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Prodigysans";
    src: url("../src/assets/fonts/ProdigySans-Regular.ttf");
}

@font-face {
    font-family: "Mayennesans";
    src: url("../src/assets/fonts/Mayenne-Sans.otf");
}

body {
    @apply font-prodigysans;
    background-color: #f7f4f2;
}
